body {
    margin: 0;
    height: 100vh;
    background-color: #9FD4A3;
    display: flex;
    justify-content: center;
    align-items: center;
}

.wrapper {
    background: linear-gradient(135deg, #FF6B6B 50%, #324A5E 50%);
    padding: 85px;
    border-radius: 50px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 400px; /* กำหนดขนาดความกว้างที่เหมาะสม */
    box-sizing: border-box;
}

.form-group {
    margin-bottom: 15px; /* เพิ่มระยะห่างระหว่างกลุ่มฟอร์ม */
}

input, button {
    padding: 15px;
    font-size: 16px;
    width: 100%;
    border-radius: 1000px;
    border: 1px solid #ccc;
    box-sizing: border-box; /* ทำให้ padding ไม่ขยายขอบเขต */
}